/* 
Variables
*/

html {
  --active: rgba(56, 92, 126, 0.926);
  --positive: rgb(112, 181, 147);
  --negative: rgba(119, 0, 0, 0.623);
  --neutral: rgb(151, 151, 151);
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

/* links */
a:focus {
  outline: none;
}

*:focus {
  outline: none;
}


.test {
  color: pink;
  font-style: italic;
}

@import "@/components/Status/StatusContainer.module.css"